<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Node.js News</title>

		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<h1>Node.js News</h1>
		<% if(articles != null) { %>
			<% articles.forEach(function(article, index) { %>
				<a href="<%- article.url %>" class="news__card">
					<img src="<%- article.urlToImage %>" alt="<%- article.title %>">
					<h2><%- article.title %></h2>
					<p><%- article.description %></p>
				</a>
			<% }) %>
		<% } else { %>
			No posts found.
		<% } %>
	</body>
</html>
